<div id="preloader">
  <div class="loader"></div>
</div>


<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg"
  style="background-image: url('/img/blog/blog-details/blog-details-hero.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bd-hero-text">
          <span>Travel Trip & Camping</span>
          <h2>Cdc Issues Health Alert Notice For Travelers To Usa From Hon</h2>
          <ul>
            <li class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</li>
            <li><i class="icon_profile"></i> Kerry Jones</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="blog-details-text">
          <div class="bd-title">
            <p>Thinking about overseas adventure travel? Have you put any thought into the best places
              to go when it comes to overseas adventure travel? Nepal is one of the most popular
              places of all, when you visit this magical country you will have the best adventures
              right there at your doorstep. Only overseas adventure travel in Nepal will give you
              these kinds of opportunities so if this is not on your list of possible places to visit
              yet then now is the time to put it on there!</p>
            <p>In Nepal your overseas adventure travel is going to be fascinating. You will get to see
              the Himalayan Mountains and experience all that the rich Nepalese culture has to offer.
              They are an amazing people who have managed to hang on to their own culture and beliefs
              longer than most other countries. When overseas adventure travel takes you to Nepal you
              will have the chance to see all of the fantastic and one of a kind lakes and forests and
              you can even spend days or weeks camping out in their forests with a specialized guide.
              And the waterfalls in Nepal are to die for, you will never see anything more gorgeous in
              your life as their waterfalls! This should be at the top of your overseas adventure
              travel destination list for sure!</p>
          </div>
          <div class="bd-pic">
            <div class="bp-item">
              <img src="img/blog/blog-details/blog-details-1.jpg" alt="">
            </div>
            <div class="bp-item">
              <img src="img/blog/blog-details/blog-details-2.jpg" alt="">
            </div>
            <div class="bp-item">
              <img src="img/blog/blog-details/blog-details-3.jpg" alt="">
            </div>
          </div>
          <div class="bd-more-text">
            <div class="bm-item">
              <h4>If you live in New York City</h4>
              <p>You know all about the traffic there. Getting places is often next to impossible,
                even with the gazillion yellow cabs. If you’re like me you often look with envy at
                those shiny limousines with their unformed drivers and wish you could sit in one.
                Well, you can. New York limo service is more affordable than you think, whether it’s
                for Newark airport transportation, LaGuardia airport transportation, or to drive
                wherever you wish to go.</p>
            </div>
            <div class="bm-item">
              <h4>Every time I hail a cab in New York City</h4>
              <p>I hope I’ll be lucky enough to get one that’s halfway decent and that the driver
                actually speaks English. I have spent many anxious moments wondering if I ever get
                to my destination. Or whether I’d get ripped off. Even if all goes well, I can’t say
                I can remember many rides in New York cabs that were very pleasant. And given how
                much they cost by now, going with a limo makes ever more sense.</p>
            </div>
          </div>
          <div class="tag-share">
            <div class="tags">
              <a href="#">Travel Trip</a>
              <a href="#">Camping</a>
              <a href="#">Event</a>
            </div>
            <div class="social-share">
              <span>Share:</span>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-tripadvisor"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
          <div class="comment-option">
            <h4>2 Comments</h4>
            <div class="single-comment-item first-comment">
              <div class="sc-author">
                <img src="img/blog/blog-details/avatar/avatar-1.jpg" alt="">
              </div>
              <div class="sc-text">
                <span>27 Aug 2019</span>
                <h5>Brandon Kelley</h5>
                <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                  dolore magnam.</p>
                <a href="#" class="comment-btn">Like</a>
                <a href="#" class="comment-btn">Reply</a>
              </div>
            </div>
            <div class="single-comment-item reply-comment">
              <div class="sc-author">
                <img src="img/blog/blog-details/avatar/avatar-2.jpg" alt="">
              </div>
              <div class="sc-text">
                <span>27 Aug 2019</span>
                <h5>Brandon Kelley</h5>
                <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                  dolore magnam.</p>
                <a href="#" class="comment-btn like-btn">Like</a>
                <a href="#" class="comment-btn reply-btn">Reply</a>
              </div>
            </div>
            <div class="single-comment-item second-comment ">
              <div class="sc-author">
                <img src="img/blog/blog-details/avatar/avatar-3.jpg" alt="">
              </div>
              <div class="sc-text">
                <span>27 Aug 2019</span>
                <h5>Brandon Kelley</h5>
                <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                  dolore magnam.</p>
                <a href="#" class="comment-btn">Like</a>
                <a href="#" class="comment-btn">Reply</a>
              </div>
            </div>
          </div>
          <div class="leave-comment">
            <h4>Leave A Comment</h4>
            <form action="#" class="comment-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Email">
                </div>
                <div class="col-lg-12 text-center">
                  <input type="text" placeholder="Website">
                  <textarea placeholder="Messages"></textarea>
                  <button type="submit" class="site-btn">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Details Section End -->


<!-- Recommend Blog Section Begin -->
<div class="bg-white font-[sans-serif] p-4">
  <div class="max-w-6xl mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h2 class="text-3xl font-extrabold text-gray-800 inline-block">Recommended</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-12 max-lg:max-w-3xl max-md:max-w-md mx-auto">
      <div class="bg-white cursor-pointer rounded-lg overflow-hidden group relative before:absolute before:inset-0 before:z-10 before:bg-black before:opacity-20">
        <img src="https://readymadeui.com/Imagination.webp" alt="Blog Post 1" class="w-full h-96 object-cover group-hover:scale-110 transition-all duration-300" />
        <div class="p-6 absolute bottom-0 left-0 right-0 z-20">
          <span class="text-sm block mb-2 text-yellow-400 font-semibold">10 FEB 2023 | BY JOHN DOE</span>
          <h3 class="text-xl font-bold text-white">A Guide to Igniting Your Imagination</h3>
          <div class="mt-4">
            <p class="text-gray-200 text-sm ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et tempus blandit, metus mi consectetur felis turpis vitae ligula.</p>
          </div>
        </div>
      </div>
      <div class="bg-white cursor-pointer rounded-lg overflow-hidden group relative before:absolute before:inset-0 before:z-10 before:bg-black before:opacity-20">
        <img src="https://readymadeui.com/hacks-watch.webp" alt="Blog Post 2" class="w-full h-96 object-cover group-hover:scale-110 transition-all duration-300" />
        <div class="p-6 absolute bottom-0 left-0 right-0 z-20">
          <span class="text-sm block mb-2 text-yellow-400 font-semibold">7 JUN 2023 | BY MARK ADAIR</span>
          <h3 class="text-xl font-bold text-white">Hacks to Supercharge Your Day</h3>
          <div class="mt-4">
            <p class="text-gray-200 text-sm ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et tempus blandit, metus mi consectetur felis turpis vitae ligula.</p>
          </div>
        </div>
      </div>
      <div class="bg-white cursor-pointer rounded-lg overflow-hidden group relative before:absolute before:inset-0 before:z-10 before:bg-black before:opacity-20">
        <img src="https://readymadeui.com/prediction.webp" alt="Blog Post 3" class="w-full h-96 object-cover group-hover:scale-110 transition-all duration-300" />
        <div class="p-6 absolute bottom-0 left-0 right-0 z-20">
          <span class="text-sm block mb-2 text-yellow-400 font-semibold">5 OCT 2023 | BY SIMON KONECKI</span>
          <h3 class="text-xl font-bold text-white">Trends and Predictions</h3>
          <div class="mt-4">
            <p class="text-gray-200 text-sm ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et tempus blandit, metus mi consectetur felis turpis vitae ligula.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recommend Blog Section End -->