<div id="preloader">
    <div class="loader"></div>
</div>

<section id="checkout-complete" class="mt-5">
  <div class="checkout-complete-header text-center">
      <div class="rounded-circle checkmark">
          <i>✓</i>
      </div>
      <h4>
          Congratulation! You’ve completed payment.
      </h4>
      <p>We have recieved your order and it will be delivered in the next 2 days.</p>
  </div>
  <div class="checkout-complete-summary text-center">
      <div class="item">
          <h5>Reservation Number</h5>
          <p>87</p>
      </div>
      <div class="item">
          <h5>Date</h5>
          <p>6868</p>
      </div>
      <div class="item">
          <h5>Total</h5>
           <p>$ 4354</p>  
      </div>
      <div class="item">
          <h5>Payment methods</h5>
          <p>Check payment</p>
      </div>
  </div>
  <button class=" btn btn-dark rounded mt-4" style="background-color: #dfa974;" routerLink="/category/Men">Back to Shopping</button>
</section>